:root {}

/* @font-face {
    font-family: Poppins;
    src: url(/css/font/Poppins);
} */

/* Reset */
*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-boxs;
    margin: 0;
    padding: 0;
    font-family: Poppins, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: inherit;
}

a:hover,
a:active,
a:visited {
    text-decoration: none;
}

/* Globals */

/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.2rem;
    box-shadow: -10px 1px 10px 1px gray;
}


/* Footer */

/**
* Landing Page  
**/